<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
   
    <p>Имя: <%=name %></p>
    <p>Фамилия: <%=pastname %></p>
    <p>Очество: <%=lastname %></p>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH-m6cEePbJT9x9EMhfX2cmLmgneyLOd5SNSkulyT4&usqp=CAE&s", height="200" width="200">


    <%- include("partials/footer.ejs") %>
</body>
</html>